<section class="section-one">

  <div class="autor">
    <div class="autor__title">
      <h1 class="autor__title--first">GUILHERME</h1>
      <img class="autor__title--second" src="../assets/pictures/provisorio.png" alt="sobrenome do autor">
    </div>

    <h2 class="autor__description">
      Comunicador e Escritor gaúcho autor do best-seller Seja o
      <br>amor da sua vida e do O óbvio também precisa ser dito, pela
      <br>Editora Planeta. Eleito como 2º melhor cronista no concurso
      <br>literário nacional Felippe D’Oliveira, em Santa Maria.
      <br>Atualmente, estudante de psicologia, Guilherme propaga a
      <br>importância do amor-próprio em suas redes sociais para mais
      <br>de 1 milhão de seguidores e nos palcos Brasil afora.
    </h2>
  </div>

  <div class="books">

    <h1 class="books__title">LIVROS</h1>

    <div class="books__content">

      <div class="item">
        <img class="item__image" src="../assets/pictures/livro1P.png" alt="capa do livro O óbvio também precisa ser dito">
        <button (click)="test1()" class="item__button item__button--one">Comprar</button>
      </div>

      <div class="item">
        <img class="item__image" src="../assets/pictures/livro2P.png" alt="capa do livro Seja o amor da sua vida">
        <button (click)="test()" class="item__button item__button--two">Comprar</button>
      </div>

      <div class="media-icons">
        <img src="../assets/icons/youtube.svg" alt="ícone youtube">
        <img src="../assets/icons/facebook.svg" alt="ícone facebook">
        <img src="../assets/icons/twitter.svg" alt="ícone instagram">
        <img src="../assets/icons/twitter.svg" alt="ícone twitter">
      </div>

    </div>

  </div>

  <div class="countdown">
    <h1 class="countdown__title">NOVO LIVRO EM BREVE</h1>
    <h2 class="countdown__sub-title">SEJA UM DOS PRIMEIROS A LER O PRÓXIMO LIVRO! PRÉ-VENDA EM 20 DE MAIO.</h2>
    <div class="countdown__watch">
      Contador
    </div>
  </div>

</section>

<section class="section-two">
  <div class="talk">
    <h1 class="talk__title">NAS ESCOLAS OU EMPRESAS</h1>
  </div>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/59vwvTyvz0M"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      encrypted-media;
      gyroscope;
      picture-in-picture
    "
    allowfullscreen>
  </iframe>
</section>


