<section class="section-one">

    <div class="autor">
      <div class="autor__title">
        <h1 class="autor__title--first">GUILHERME</h1>
        <img class="autor__title--second" src="../assets/mobile/secondNameMobile.svg" alt="sobrenome do autor">
      </div>

      <h2 class="autor__description">
        Gaúcho, tem 26 anos e acumula títulos: escritor, comunicador,
        <br> produtor de conteúdo e palestrante. Com ‘Seja o amor da sua vida’,
        <br> seu primeiro livro, tornou-se best-seller com mais de 70
        <br> mil exemplares vendidos em menos de 2 anos. Além disso,
        <br> também entrou para a lista de livros mais vendidos no Brasil
        <br> em 2018 segundo o PublishNews. No mesmo ano, com sua
        <br> peça homônima, lotou teatros em uma turnê que passou por
        <br> várias cidades, contando como ultrapassou as barreiras do
        <br> abuso psicológico e da violência doméstica sofridos por ele
        <br> e sua mãe até a metade da sua adolescência. Em 2019, foi um
        <br> dos palestrantes do TEDxParqueDoIngá onde falou sobre a
        <br> construção do amor-próprio através de suas próprias
        <br> experiências, assim como vem fazendo para mais de 1 milhão
        <br> de pessoas em suas redes sociais. Em 2020, Guilherme Pintto
        <br> se prepara para lançar o seu terceiro livro.
      </h2>
    </div>

    <div class="books">

      <h1 class="books__title">LIVROS</h1>

      <div class="books__content">

        <div class="item">
          <img class="item__image" src="../assets/pictures/livro1.png" alt="capa do livro O óbvio também precisa ser dito">
          <a [href]="links.bookOneLink" target="_blank" rel="noopener noreferrer"><button class="item__button item__button--one">COMPRAR</button></a>
        </div>

        <div class="item">
          <img class="item__image" src="../assets/pictures/livro2.png" alt="capa do livro Seja o amor da sua vida">
          <a [href]="links.bookTwoLink" target="_blank" rel="noopener noreferrer"><button class="item__button item__button--two">COMPRAR</button></a>
        </div>

        <div class="media-icons-web">
          <a [href]="links.youtubeLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/youtube.svg" alt="ícone youtube"></a>
          <a [href]="links.facebookLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/facebook.svg" alt="ícone facebook"></a>
          <a [href]="links.instagramLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/instagram.svg" alt="ícone instagram"></a>
          <a [href]="links.twitterLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/twitter.svg" alt="ícone twitter"></a>
        </div>
      </div>

    </div>

    <div class="countdown">
      <h1 class="countdown__title">NOVO LIVRO EM BREVE</h1>
      <h2 class="countdown__sub-title">
        SEJA UM DOS PRIMEIROS A LER O PRÓXIMO LIVRO!
      </h2>
      <div class="countdown__watch">
        <div class="watch">
          <p class="watch__name">- MESES -</p>
          <div style="display: flex;">
            <p class="watch__pointer">{{ countdownTimer('months').substring(0,1) }}</p>
            <p class="watch__pointer">{{ countdownTimer('months').substring(1,2) }}</p>
          </div>
        </div>
        <div class="colon">:</div>
        <div class="watch">
          <p class="watch__name">- DIAS -</p>
          <div style="display: flex;">
            <p class="watch__pointer">{{ countdownTimer('days').substring(0,1) }}</p>
            <p class="watch__pointer">{{ countdownTimer('days').substring(1,2) }}</p>
          </div>
        </div>
        <div class="colon">:</div>
        <div class="watch">
          <p class="watch__name">- HORAS -</p>
          <div style="display: flex;">
            <p class="watch__pointer">{{ countdownTimer('hours').substring(0,1) }}</p>
            <p class="watch__pointer">{{ countdownTimer('hours').substring(1,2) }}</p>
          </div>
        </div>
      </div>
      <h2 class="countdown__sub-title countdown__sub-title--black">
        Preencha e receba em primeira mão todas as informações sobre o próximo livro:
      </h2>
      <h2 [hidden]="hideConfirmationMsgCountdown" class="countdown__confirmation-msg">
        Obrigado! Nossa equipe entrará em contato com você em breve.
      </h2>
      <form class="form">
        <input
          class="form__input"
          type="text"
          placeholder="Nome"
          name="nome"
          [(ngModel)]="personInfo.name"
          maxlength="50"
          (click)="hideConfirmationMsgCountdown = true">
        <input
          class="form__input"
          type="text"
          placeholder="E-mail"
          name="email"
          [(ngModel)]="personInfo.email"
          maxlength="50"
          (click)="hideConfirmationMsgCountdown = true">
        <input
          class="form__input"
          type="text"
          placeholder="Whats-App"
          name="whatsapp"
          [(ngModel)]="personInfo.whatsapp"
          maxlength="50"
          (click)="hideConfirmationMsgCountdown = true">
        <button
          class="form__button-web"
          [disabled]="(personInfo.name == '') || (personInfo.email == '') || (personInfo.whatsapp =='')"
          (click)="submitPreSale()">
            OK
        </button>
        <button
          class="form__button-mobile"
          [disabled]="(personInfo.name == '') || (personInfo.email == '') || (personInfo.whatsapp =='')"
          (click)="submitPreSale()">
            Eu quero!
        </button>
      </form>
    </div>

</section>

<section class="section-two">
  <div class="talk">
    <img class="talk__image" src="../assets/pictures/palestra.svg" alt="Capa do livro seja o amor da sua vida">
    <div class="contact">
      <h1 class="contact__title">Nas escolas ou empresas</h1>
      <h2 class="contact__content">
        Vamos falar sobre a importância do amor-próprio
        <br> na sua escola ou na sua empresa?
      </h2>
      <button class="contact__button" (click)="openContactForm()">ENTRAR EM CONTATO</button>
    </div>
  </div>

  <div class="popup white-bg" *ngIf="showContactPopup">
    <form class="popup__form">
      <button class="popup__close" (click)="closeContactPopup()">X</button>
      <input
        class="popup__input popup__input--headers"
        type="text"
        placeholder="Nome"
        maxlength="50"
        name = "name"
        [(ngModel)]="contactMessage.name">
      <input
        class="popup__input popup__input--headers"
        type="text"
        placeholder="Email"
        maxlength="50"
        name = "email"
        [(ngModel)]="contactMessage.email">
      <input
        class="popup__input popup__input--headers"
        type="text"
        placeholder="Telefone"
        maxlength="50"
        name = "phone"
        [(ngModel)]="contactMessage.phone">
      <textarea
        #textArea
        class="popup__input popup__input--message"
        [rows]="10"
        [cols]="5"
        [maxLength]="2000"
        placeholder="Digite sua mensagem aqui..."
      ></textarea>
      <h2 [hidden]="hideConfirmationMsgContact" class="popup__confirmation-msg">Sua mensagem foi enviada com sucesso.</h2>
      <button
        class="popup__button"
        [disabled]="((contactMessage.name == '') || (contactMessage.email == '') || (contactMessage.phone == ''))"
        (click)="submitContactMessage()">
          ENVIAR
      </button>
    </form>
  </div>

  <iframe
    class="video video--web"
    width="740"
    height="420"
    src="https://www.youtube.com/embed/XEX_c7Ru5_c"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      encrypted-media;
      gyroscope;
      picture-in-picture
    "
    allowfullscreen>
  </iframe>

  <iframe
    class="video video--mobile"
    width="370"
    height="210"
    src="https://www.youtube.com/embed/XEX_c7Ru5_c"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      encrypted-media;
      gyroscope;
      picture-in-picture
    "
    allowfullscreen>
  </iframe>

  <div class="media-icons-mobile">
    <a [href]="links.youtubeLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/youtube.svg" alt="ícone youtube"></a>
    <a [href]="links.facebookLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/facebook.svg" alt="ícone facebook"></a>
    <a [href]="links.instagramLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/instagram.svg" alt="ícone instagram"></a>
    <a [href]="links.twitterLink" target="_blank" rel="noopener noreferrer"><img src="../assets/icons/twitter.svg" alt="ícone twitter"></a>
  </div>

</section>


