@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "../variables.scss";

.section-one {
  // Na responsividade acho melhor empurrar a foto e o bg pra direita pra não distorcer sla
  background: url("../assets/pictures/background.png") no-repeat;
  // background-size: 105% 100%;
  background-size: cover; //teste

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 25vw;

  .autor {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;

    &__title {
      display: flex;
      flex-direction: column;
      height: 22vh;
      padding-bottom: 2vh;

      &--first {
        @extend %font-oswald;
      }
      &--second {
        position: relative;
        top: -1rem;
        left: 11rem;
        width: 12rem;
      }
    }

    &__description {
      font-family: 'Source Sans Pro', sans-serif;
      text-align: left;
      font-size: 20px;
      line-height: 1.5rem;
    }
  }

  .books {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    &__title {
      @extend %font-oswald;
      align-self: flex-start;
    }

    &__content {
      margin-top: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70vw;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__button {
          margin-top: 4vh;
          &--one {
            @extend %white-button;
          }
          &--two {
            @extend %blue-button;
          }
        }
      }

      .media-icons {
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 17rem;
      }
    }
  }

  .countdown {
    display: flex;
    flex-direction: column;
    // margin-top: 10vh;
    // margin-bottom: 5vh;
    margin-top: 14vh; //teste
    margin-bottom: 6vh; // teste

    &__title {
      align-self: center;
      @extend %font-oswald;
    }
    &__sub-title {
      margin: 1rem 0rem;
      color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 500;
      &--centralized {
        align-self: center;
      }
    }
    &__confirmation-msg {
      margin-bottom: .5vh;
      color: $green;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 500;
      font-size: 18px;
    }
    &__watch {
      background-color: $white;
      border-radius: $radius-large;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'Oswald', sans-serif;
      font-size: 5rem;

      .watch {
        &__pointer {
          display: flex;
          align-items: center;
          padding-left: 2.25rem;
          margin: 1rem 1rem 0rem 1rem;
          background-color: $gray-light;
          border-radius: $radius-large;
          font-weight: 300;
          font-size: 5rem;
          letter-spacing: 2.25rem;
          height: 10rem;
        }
        &__name {
          color: $gray-dark;
          font-size: 1.5rem;
          margin: 0.75rem 1rem ;
        }
      }

      .colon {
        margin-bottom: 3rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 7.5rem;
        color: $gray-dark;
      }
    }
    .form {
      display: flex;
      justify-content: space-between;
      &__input {
        border-radius: $radius-small;
        border: thin solid $black;
        width: 11.5rem;
        height: 2.25rem;
        &::placeholder {
          background-color: $white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 1rem;
          color: $black;
          padding-left: .5rem;
        }
      }
      &__button {
        @extend %white-button;
        width: 5rem;
      }
    }

  }
}

.section-two {
  margin-top: 8vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .talk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
      margin-right: 5vw;
    }

    .contact {
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: 500;
      }
      &__content {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
      }
      &__button {
        @extend %blue-button;
      }
    }
  }

  .video {
    margin: 10vh 0vw;
  }

}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  &__close {
    position: relative;
    @extend %button-config;
    border-radius: $radius-large;
    top: -26vh;
    right: -16vw;
    background-color: $gray-light;
    color: $gray-dark;
    height: 2rem;
    width: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $blue;
    border-radius: $radius-large;
    height: 50vh;
    width: 30vw;
    position: absolute;
  }
  &__input {
    margin: 1rem;
    border: none;
    border-radius: $radius-small;
    &--name {
      min-height: 2.5rem;
      width: -webkit-fill-available;
    }
    &--message {
      height: -webkit-fill-available;
      width: -webkit-fill-available;
    }
    &::placeholder {
      background-color: $white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1rem;
      color: $gray-dark;
      padding-left: .5rem;
    }
  }
  &__button {
    align-self: flex-end;
    margin: 1rem;
    min-height: 2.5rem;
    width: 5rem;
    @extend %white-button;
  }
}
