@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// @mixin smartphones($orientation: portrait) {

// 	@if $orientation == portrait {
// 		@media only screen
// 		and (min-device-width: 300px)
// 		and (max-device-width: 767px)
// 		and (orientation: portrait) {
// 			@content;
// 		}
// 	}
// 	@if $orientation == landscape {
// 		@media only screen
// 		and (min-device-width: 300px)
// 		and (max-device-width: 767px)
// 		and (orientation: landscape) {
// 			@content;
// 		}
// 	}
// }

// @mixin tablets($orientation: portrait) {
// 	@if $orientation == portrait {
// 		@media only screen
// 		and (min-device-width: 768px)
// 		and (max-device-width: 1024px)
// 		and (orientation: portrait) {
// 			@content;
// 		}
// 	}
// 	@if $orientation == landscape {
// 		@media only screen
// 		and (min-device-width: 768px)
// 		and (max-device-width: 1024px)
// 		and (orientation: landscape) {
// 			@content;
// 		}
// 	}
// }

// variables
$white: #FFFFFF;
$gray-light: #E6E5E5;
$gray-dark:#656565;
$gray-deep:#404040;
$blue: #29AEDD;
$black: #000000;
$radius-small: 4px;
$radius-large: 15px;

// placeholders
%font-oswald {
  font-family: 'Oswald', sans-serif;
  color: $black;
  font-weight: 500;
  font-size: 4.5rem;
}

%button-config {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  user-select: none;
}


.section-one {
  background: url("../assets/pictures/background.png") no-repeat;
  background-size: 100% 100%; //AINDA NAO ESTA CERTO

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 25vw;

  .autor {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;

    &__title {
      display: flex;
      flex-direction: column;
      height: 20vh;

      &--first {
        @extend %font-oswald;
      }
      &--second {
        position: relative;
        top: -0.5rem;
        left: 10rem;
        width: 12rem;
      }
    }

    &__description {
      font-family: 'Source Sans Pro', sans-serif;
      text-align: left;
      font-size: 18px;
      line-height: 1.5rem;
    }
  }

  .books {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    &__title {
      @extend %font-oswald;
      align-self: flex-start;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55vh;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(.5);
        &__image {
        }
        &__button {
          transform: scale(2);
          @extend %button-config;
          margin-top: 5rem;
          font-weight: bold;
          border: none;
          border-radius: $radius-small;
          width: 15rem;
          height: 2rem;
          &--one {
            background-color: $white;
            color: $blue;
          }
          &--two {
            background-color: $blue;
            color: $white;
          }
        }
      }

      .media-icons {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 17rem;
      }
    }
  }

  .countdown {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 3rem;

    &__title {
      align-self: center;
      @extend %font-oswald;
    }
    &__sub-title {
      margin: 1rem 0rem;
      color: $white;
      align-self: flex-start;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 500;
    }
    &__watch {
      background-color: $white;
      border-radius: $radius-large;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'Oswald', sans-serif;
      font-size: 5rem;

      .watch {
        &__pointer {
          display: flex;
          align-items: center;
          padding-left: 2.25rem;
          margin: 1rem 1rem 0rem 1rem;
          background-color: $gray-light;
          border-radius: $radius-large;
          font-weight: 300;
          font-size: 5rem;
          letter-spacing: 2.25rem;
          height: 10rem;
        }
        &__name {
          color: $gray-dark;
          font-size: 1.5rem;
          margin: 0.75rem 1rem ;
        }
      }

      .colon {
        margin-bottom: 3rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 7.5rem;
        color: $gray-dark;
      }
    }
    .form {
      display: flex;
      justify-content: space-between;
      &__input {
        border-radius: $radius-small;
        border: thin solid $black;
        width: 11.5rem;
        height: 2.25rem;
        &::placeholder {
          background-color: $white;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 1rem;
          color: $black;
          padding-left: .5rem;
        }
      }
      &__button {
        @extend %button-config;
        background-color: $white;
        border: none;
        border-radius: $radius-small;
        font-weight: bold;
        color: $blue;
        width: 5rem;
        height: 2.5rem;
      }
    }

  }
}

.section-two {
  background-color: tomato;  // auxiliador
  margin-top: 3rem;  // auxiliador

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .talk {
    &__title {
      @extend %font-oswald;
    }
  }

}
