<section class="section-one">

  <div class="autor">
    <div class="autor__title">
      <h1 class="autor__title--first">GUILHERME</h1>
      <img class="autor__title--second" src="../assets/pictures/secondName.svg" alt="sobrenome do autor">
    </div>

    <h2 class="autor__description">
      Comunicador e Escritor gaúcho autor do best-seller Seja o
      <br>amor da sua vida e do O óbvio também precisa ser dito, pela
      <br>Editora Planeta. Eleito como 2º melhor cronista no concurso
      <br>literário nacional Felippe D’Oliveira, em Santa Maria.
      <br>Atualmente, estudante de psicologia, Guilherme propaga a
      <br>importância do amor-próprio em suas redes sociais para mais
      <br>de 1 milhão de seguidores e nos palcos Brasil afora.
    </h2>
  </div>

  <div class="books">

    <h1 class="books__title">LIVROS</h1>

    <div class="books__content">

      <div class="item">
        <img class="item__image" src="../assets/pictures/livro1.png" alt="capa do livro O óbvio também precisa ser dito">
        <button class="item__button item__button--one">Comprar</button>
      </div>

      <div class="item">
        <img size="0.5x" class="item__image" src="../assets/pictures/livro2.png" alt="capa do livro Seja o amor da sua vida">
        <button class="item__button item__button--two">Comprar</button>
      </div>

      <div class="media-icons">
        <img src="../assets/icons/youtube.svg" alt="ícone youtube">
        <img src="../assets/icons/facebook.svg" alt="ícone facebook">
        <img src="../assets/icons/instagram.svg" alt="ícone instagram">
        <img src="../assets/icons/twitter.svg" alt="ícone twitter">
      </div>

    </div>

  </div>

  <div class="countdown">
    <h1 class="countdown__title">NOVO LIVRO EM BREVE</h1>
    <h2 class="countdown__sub-title">SEJA UM DOS PRIMEIROS A LER O PRÓXIMO LIVRO! PRÉ-VENDA EM 20 DE MAIO.</h2>
    <div class="countdown__watch">
      <div class="watch">
        <p class="watch__pointer">{{ countdownTimer('months') }}</p>
        <p class="watch__name">meses</p>
      </div>
      <div class="colon">:</div>
      <div class="watch">
        <p class="watch__pointer">{{ countdownTimer('days') }}</p>
        <p class="watch__name">dias</p>
      </div>
      <div class="colon">:</div>
      <div class="watch">
        <p class="watch__pointer">{{ countdownTimer('hours') }}</p>
        <p class="watch__name">horas</p>
      </div>
    </div>
    <h2 class="countdown__sub-title">Preencha e receba em primeira mão a prá-venda do livro.</h2>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
      <input class="form__input" type="text" placeholder="Nome" name="nome" ngModel>
      <input class="form__input" type="text" placeholder="E-mail" name="email" ngModel>
      <input class="form__input" type="text" placeholder="Whats-App" name="whatsapp" ngModel>
      <button type="submit" class="form__button">OK</button>
    </form>

  </div>

</section>

<section class="section-two">
  <div class="talk">
    <img class="talk__image" src="../assets/pictures/palestra.svg" alt="Capa do livro seja o amor da sua vida">
    <div class="info">
      <h1 class="info__title">NAS ESCOLAS OU EMPRESAS</h1>
      <h2 class="info__content">
        Vamos falar sobre a importância do amor-próprio
        <br> na sua escola ou na sua empresa?
      </h2>
      <button class="info__button">Entrar em contato</button>
    </div>
  </div>

  <iframe
    class="video"
    width="1120"
    height="630"
    src="https://www.youtube.com/embed/59vwvTyvz0M"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      encrypted-media;
      gyroscope;
      picture-in-picture
    "
    allowfullscreen>
  </iframe>
</section>


