// variables
$white: #FFFFFF;
$gray-light: #E6E5E5;
$gray-dark:#656565;
$gray-deep:#404040;
$blue: #29AEDD;
$green: #72f542;
$black: #000000;
$radius-small: 4px;
$radius-large: 15px;

@mixin mobile {
  @media only screen
  and (min-device-width: 300px)
  and (max-device-width: 767px) {
    @content;
  }
}

@mixin mobile-plus {
  @media only screen
  and (min-device-width: 400px)
  and (max-device-width: 767px) {
    @content;
  }
}

@mixin smartphones($orientation: portrait) {

	@if $orientation == portrait {
		@media only screen
		and (min-device-width: 300px)
		and (max-device-width: 767px)
		and (orientation: portrait) {
			@content;
		}
	}
	@if $orientation == landscape {
		@media only screen
		and (min-device-width: 300px)
		and (max-device-width: 767px)
		and (orientation: landscape) {
			@content;
		}
  }
}

@mixin tablets($orientation: portrait) {
	@if $orientation == portrait {
		@media only screen
		and (min-device-width: 768px)
		and (max-device-width: 1024px)
		and (orientation: portrait) {
			@content;
		}
	}
	@if $orientation == landscape {
		@media only screen
		and (min-device-width: 768px)
		and (max-device-width: 1024px)
		and (orientation: landscape) {
			@content;
		}
  }
}

@mixin web() {
  @media only screen
  and (min-device-width: 1024px) {
    @content;
  }
}

// @include smartphones(portrait) {
// }

// @include smartphones(landscape) {
// }

// @include web() {
// }

// placeholders
%font-oswald {
  font-family: 'Oswald', sans-serif;
  color: $black;
  font-weight: 500;
  font-size: 4.5rem;
  @include mobile {
    font-size: 2.5rem;
  }
}

%button-config {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  user-select: none;
  border: none;
}

%button-default {
  @include mobile {
    width: 10rem;
    height: 1.5rem;
    font-size: 10px;
  }
  @extend %button-config;
  border-radius: $radius-small;
  width: 15rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 15px;
}

%blue-button {
  @extend %button-default;
  background-color: $blue;
  color: $white;
}

%white-button {
  @extend %button-default;
  background-color: $white;
  color: $blue;
}

%confirmation-text {
  margin-bottom: .5vh;
  color: $green;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

%placeholder-default {
  overflow: visible;
  background-color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: $gray-dark;
  padding-left: .5rem;
}

